.App {
  text-align: center;
}

.hook-logo {
  height: 40vmin;
}

.App-header {
  background-color: #2B2E37;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.hero__copy {
  padding: 30px 15px;
}

.example {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.example input,
.example button {
  width: 350px;
}
